<?xml version="1.0"?>
<config>
    <modules>
        <A2bizz_Designersoftware>
            <version>0.1.4</version>
        </A2bizz_Designersoftware>
    </modules>
    <frontend>
        <routers>
            <designersoftware>
                <use>standard</use>
                <args>
                    <module>A2bizz_Designersoftware</module>
                    <frontName>designersoftware</frontName>
                </args>
            </designersoftware>
        </routers>
        <layout>
            <updates>
                <designersoftware>
                    <file>a2bizz/a2bizz_designersoftware.xml</file>
                </designersoftware>
            </updates>
        </layout>
		<translate>
			<modules>
				<A2bizz_Designersoftware>
					<files>
						<default>a2bizz/A2bizz_Designersoftware.csv</default>
					</files>
				</A2bizz_Designersoftware>
			</modules>
		</translate>		 
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<designersoftware>
					<file>a2bizz/a2bizz_designersoftware.xml</file>
				</designersoftware>
			</updates>
		</layout>
    </adminhtml>
    <admin>
        <routers>
			<designersoftware>
				<use>admin</use>
				<args>
					<module>A2bizz_Designersoftware</module>
					<frontName>designersoftware</frontName>
				</args>
			</designersoftware>
        </routers>
    </admin>     
    <global>
        <models>
            <designersoftware>
                <class>A2bizz_Designersoftware_Model</class>
                <resourceModel>designersoftware_mysql4</resourceModel>
            </designersoftware>
            <designersoftware_mysql4>
                <class>A2bizz_Designersoftware_Model_Mysql4</class>
                <entities>
                    <designersoftware>
                        <table>a2bizz_designersoftware</table>
                    </designersoftware>
                                        
                    <angles>
                        <table>a2bizz_angles</table>
                    </angles>
                    
                    <color>
                        <table>a2bizz_color</table>
                    </color>
                    
                    <texture>
                        <table>a2bizz_texture</table>
                    </texture>
                    
                    <font>
                        <table>a2bizz_font</table>
                    </font>  
                                      
                    <clipart>
                        <table>a2bizz_clipart</table>
                    </clipart>
                    <clipart_category>
                        <table>a2bizz_clipart_category</table>
                    </clipart_category>
                    <clipart_price>
                        <table>a2bizz_clipart_price</table>
                    </clipart_price>
                    <clipart_upload>
                        <table>a2bizz_clipart_upload</table>
                    </clipart_upload>
                    
                    <text>
                        <table>a2bizz_text</table>
                    </text>
                    
                   <parts>
                        <table>a2bizz_parts</table>
                    </parts> 
                    <parts_style>
						<table>a2bizz_parts_style</table>
                    </parts_style>                  
                    <parts_layers>
						<table>a2bizz_parts_layers</table>
                    </parts_layers>     
                    <parts_layers_texture>
						<table>a2bizz_parts_layers_texture</table>
                    </parts_layers_texture>                
                                                   
                    <style>
						<table>a2bizz_style</table>
                    </style>               
                    
                    <sizes>
                        <table>a2bizz_sizes</table>
                    </sizes>                    
                    
                    <orders_design>
                        <table>a2bizz_orders_design</table>
                    </orders_design>                                        
                </entities>
            </designersoftware_mysql4>
            <sitemap>					
				<rewrite>
					<resource_catalog_product>A2bizz_Sitemap_Model_Resource_Catalog_Product</resource_catalog_product>
				</rewrite>					
			</sitemap>
			<cataloginventory>					
				<rewrite>
					<stock_item>A2bizz_Designersoftware_Model_CatalogInventory_Stock_Item</stock_item>
				</rewrite>					
			</cataloginventory>
        </models>
        <resources>
            <designersoftware_setup>
                <setup>
                    <module>A2bizz_Designersoftware</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </designersoftware_setup>
            <designersoftware_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </designersoftware_write>
            <designersoftware_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </designersoftware_read>
        </resources>
        <blocks>
            <designersoftware>
                <class>A2bizz_Designersoftware_Block</class>                
            </designersoftware>
            <!--<catalog>
				<rewrite>
					<product_view_abstract>A2bizz_Catalog_Block_Product_View_Abstract</product_view_abstract>
				</rewrite>
            </catalog>-->
            <checkout>
				<rewrite>
					<cart_item_renderer>A2bizz_Checkout_Block_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
            </checkout>
        </blocks>
        <helpers>
            <designersoftware>
                <class>A2bizz_Designersoftware_Helper</class>
            </designersoftware>
        </helpers>
    </global>
    
     <!-- Set Admin Template File PAckage and Theme to establish modifications in Admin Templates-->
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>designersoftware</default>
                </theme>
            </design>
        </admin>
    </stores>    
    <!-- ============================================================== -->
</config>
